<!--Footer-->
<div class="footerWrap">
    <div class="container">
        <div class="row">
            <!--About Us-->
            <div class="col-md-3 col-sm-4">
                <h5>Cars By Make</h5>
                <!--Quick Links menu Start-->
                <ul class="quicklinks">
                    <li><a href="@Url.Action("ListingSearch", "Listing", new {make = "Dacia"})">Dacia Cars for Sale</a></li>
                    <li><a href="@Url.Action("ListingSearch", "Listing", new {make = "Honda"})">Honda Cars for Sale</a></li>
                    <li><a href="@Url.Action("ListingSearch", "Listing", new {make = "Hyundai"})">Hyundai Cars for Sale</a></li>
                    <li><a href="@Url.Action("ListingSearch", "Listing", new {make = "Mitsubishi"})">Mitsubishi Cars for Sale</a></li>
                    <li><a href="@Url.Action("ListingSearch", "Listing", new {make = "Suzuki"})">Suzuki Cars for Sale</a></li>
                    <li><a href="@Url.Action("ListingSearch", "Listing", new {make = "Toyota"})">Toyota Cars for Sale</a></li>
                    <li><a href="@Url.Action("ListingSearch", "Listing", new {make = "BMW"})">BMW Cars for Sale</a></li>
                    <li><a href="@Url.Action("ListingSearch", "Listing", new {make = "Nissan"})">Nissan Cars for Sale</a></li>
                    <li><a href="@Url.Action("ListingSearch", "Listing", new {make = "Mercedes"})">Mercedes Cars for Sale</a></li>
                </ul>
            </div>
            <!--About us End-->
            <!--About Us-->
            <div class="col-md-3 col-sm-4">
                <h5>Cars By City</h5>
                <!--Quick Links menu Start-->
                <ul class="quicklinks">
                    <li><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Chisinau"})">Cars in Chișinău</a></li>
                    <li><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Balti"})">Cars in Bălți</a></li>
                    <li><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Orhei"})">Cars in Orhei</a></li>
                    <li><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Cahul"})">Cars in Cahul</a></li>
                    <li><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Comrat"})">Cars in Comrat</a></li>
                    <li><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Cantemir"})">Cars in Cantemir</a></li>
                    <li><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Soroca"})">Cars in Soroca</a></li>
                    <li><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Hincesti"})">Cars in Hîncești</a></li>
                    <li><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Nisporeni"})">Cars in Nisporeni</a></li>
                </ul>
            </div>
            <!--About us End-->
            <!--Quick Links-->
            <div class="col-md-2 col-sm-4">
                <h5>Explore Us</h5>
                <!--Quick Links menu Start-->
                <ul class="quicklinks">
                     <li><a href="@Url.Action("Listing", "Listing", new {type = "Used"})">Used Cars</a></li>
                     <li><a href="@Url.Action("Listing", "Listing", new {type = "New"})">New Cars</a></li>
                     <li><a href="@Url.Action("Dashboard", "Dashboard")">Sitemap</a></li>  <!--De bagat aici dashboard-->
                </ul>
            </div>
            <!--Quick Links menu end-->
            <!--Quick Links-->
            <div class="col-md-2 col-sm-4">
                <h5>Quick Links</h5>
                <!--Quick Links menu Start-->
                <ul class="quicklinks">
                    <li><a href="@Url.Action("AboutUs", "AboutUs")">About Us </a></li>
                    <li><a href="@Url.Action("ContactUs", "AboutUs")">Contact Us</a></li>
                    <li><a href="@Url.Action("AddPost", "Post")">Post an Ad</a></li>
                    <li><a href="@Url.Action("FAQs", "AboutUs")">FAQs</a></li>
                </ul>
            </div>
            <!--Quick Links menu end-->
            <!--Jobs By Industry-->
            <div class="col-md-2 col-sm-4">
                <h5>Help Center</h5>
                <!--Industry menu Start-->
                <ul class="quicklinks">
                     <li><a href="@Url.Action("FAQs", "AboutUs")">FAQs</a></li>
                     <li><a href="@Url.Action("EditProfile", "Dashboard")">Account Issue</a></li>  
                     <li><a href="@Url.Action("AboutUs", "AboutUs")">History</a></li>
                </ul>
                <!--Industry menu End-->
                <div class="clear"></div>
            </div>
        </div>
        <div class="social"> <a href="#." target="_blank"> <i class="fa fa-facebook-square" aria-hidden="true"></i></a> <a href="#." target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a> <a href="#." target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a> <a href="#." target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> <a href="#." target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a> </div>

    </div>
</div>
<!--Footer end-->
<!--Copyright-->
<div class="copyright">
    <div class="container">
        <div class="bttxt"><a>Copyright &copy; 2023 TI-211 Group, FCIM. All Rights Reserved. </a></div>
    </div>
</div>