<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-12">
            <a href="@Url.Action("Index", "Home")" class="logo"><img src="@Url.Content("~/Content/images/logo.png")" alt="" /></a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-10 col-sm-12 col-xs-12">
            <!-- Nav start -->
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-collapse collapse" id="nav-main">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("ListingByType", "Listing", new {type = "Used"})">Used Cars</a></li>
                        <li><a href="@Url.Action("ListingByType", "Listing", new {type = "New"})">New Cars</a></li>
                        <li class="dropdown">
                            @{
                                var authUser = TempData["AuthenticatedUser"] as AutoCar.Domain.Entities.User.UserMinimal;
                                if (authUser != null)
                                {
                                    <a href="#.">Pages <span class="caret"></span></a>
                                    <!-- dropdown start -->
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("AboutUs", "AboutUs")">About Us</a></li>
                                        <li><a href="@Url.Action("Listing", "Listing")">Ad Listing</a></li>
                                        <li><a href="@Url.Action("Dashboard", "Dashboard")">Dashboard</a></li>
                                        <li><a href="@Url.Action("AddPost", "Post")">Add Post</a></li>
                                        <li><a href="@Url.Action("Faqs", "Faqs")">FAQs</a></li>
                                        <li><a href="@Url.Action("UserLogout", "Dashboard")">Log Out</a></li>
                                    </ul>
                                    <!-- dropdown end -->
                                }
                                else
                                {
                                    <a href="#.">Pages <span class="caret"></span></a>
                                    <!-- dropdown start -->
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("AboutUs", "AboutUs")">About Us</a></li>
                                        <li><a href="@Url.Action("Listing", "Listing")">Ad Listing</a></li>
                                        <li><a href="@Url.Action("Index", "Login")">Login</a></li>
                                        <li><a href="@Url.Action("Index", "Register")">Register</a></li>
                                        <li><a href="@Url.Action("Faqs", "Faqs")">FAQs</a></li>
                                    </ul>
                                    <!-- dropdown end -->
                                }
                            }
                        </li>
                        <li><a href="@Url.Action("ContactUs", "AboutUs")">Contact</a></li>
                        <li class="postad"><a href="@Url.Action("AddPost", "Post")">Post an Ad</a></li>
                    </ul>
                    <!-- Nav collapes end -->
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- Nav end -->
        </div>
    </div>
    <!-- row end -->
</div>