<!--Footer-->
<div class="subscribe">
    <div class="container">
        <h6>Submit Newsletters</h6>
        <p>Keep yourself updated with fresh news about cars.</p>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter Your Email">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Subscribe</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footerWrap">
    <div class="container">
        <div class="row">
            <!--About Us-->
            <div class="col-md-3 col-sm-4">
                <h5>Cars By Make</h5>
                <!--Quick Links menu Start-->
                <ul class="quicklinks">
                    <li><a href="#.">Renault Cars for Sale</a></li>
                    <li><a href="#.">Honda Cars for Sale</a></li>
                    <li><a href="#.">Hyundai Cars for Sale</a></li>
                    <li><a href="#.">Mitsubishi Cars for Sale</a></li>
                    <li><a href="#.">Suzuki Cars for Sale</a></li>
                    <li><a href="#.">Toyota Cars for Sale</a></li>
                    <li><a href="#.">BMW Cars for Sale</a></li>
                    <li><a href="#.">Nissan Cars for Sale</a></li>
                    <li><a href="#.">Mercedes Cars for Sale</a></li>
                </ul>
            </div>
            <!--About us End-->
            <!--About Us-->
            <div class="col-md-3 col-sm-4">
                <h5>Cars By City</h5>
                <!--Quick Links menu Start-->
                <ul class="quicklinks">
                    <li><a href="#.">Cars in Chișinău</a></li>
                    <li><a href="#.">Cars in Bălți</a></li>
                    <li><a href="#.">Cars in Comrat</a></li>
                    <li><a href="#.">Cars in Cahul</a></li>
                    <li><a href="#.">Cars in Soroca</a></li>
                    <li><a href="#.">Cars in Orhei</a></li>
                </ul>
            </div>
            <!--About us End-->
            <!--Quick Links-->
            <div class="col-md-2 col-sm-4">
                <h5>Explore Us</h5>
                <!--Quick Links menu Start-->
                <ul class="quicklinks">
                     <li><a href="@Url.Action("Listing", "Listing")" ">Used Cars</a></li>
                     <li><a href="@Url.Action("Listing", "Listing")" ">New Cars</a></li>
                     <li><a href="@Url.Action("Listing", "Listing")" ">Listing</a></li>
                     <li><a href="@Url.Action("AddPost", "AddPost")">Add Post</a></li>
                     <li><a href="@Url.Action("ActiveAds", "ActiveAds")">Active Ads</a></li>
                </ul>
            </div>
            <!--Quick Links menu end-->
            <!--Quick Links-->
            <div class="col-md-2 col-sm-4">
                <h5>Quick Links</h5>
                <!--Quick Links menu Start-->
                <ul class="quicklinks">
                    <li><a href="#.">About Us </a></li>
                    <li><a href="@Url.Action("ContactUs", "ContactUs")">Contact</a></li>
                    <li><a href="@Url.Action("AddPost", "AddPost")">Post an ad</a></li>
                    <li><a href="@Url.Action("Faqs", "Faqs")">FAQs</a></li>
                </ul>
            </div>
            <!--Quick Links menu end-->
            
        </div>
        <div class="social"> <a href="#." target="_blank"> <i class="fa fa-facebook-square" aria-hidden="true"></i></a> <a href="#." target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a> <a href="#." target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a> <a href="#." target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> <a href="#." target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a> </div>
        <div class="note">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit, ante in bibendum placerat, tortor magna varius ex, vel efficitur leo massa eleifend enim. Morbi fermentum neque eget lacus tristique, ut laoreet arcu tempor. Proin justo dui, finibus et hendrerit vitae, pharetra nec libero. Mauris sagittis, justo ut sollicitudin porttitor, tortor augue dictum purus. </div>
    </div>
</div>
<!--Footer end-->
<!--Copyright-->
<div class="copyright">
    <div class="container">
        <div class="bttxt">Copyright &copy; 2023 Auto Car. All Rights Reserved. Design by: <a href="https://fcim.utm.md/" target="_blank">Facultatea Calculatoare, Informatică și Microelectronică, grupa TI-211</a></div>
    </div>
</div>