<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-12">
            <a href="@Url.Action("Index", "Home")" class="logo"><img src="@Url.Content("~/Content/images/logo.png")" alt="" /></a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-10 col-sm-12 col-xs-12">
            <!-- Nav start -->
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-collapse collapse" id="nav-main">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="listing.html">Used Cars</a></li>
                        <li><a href="listing.html">New Cars</a></li>
                        <li class="dropdown">
                            <a href="#.">Pages <span class="caret"></span></a>
                            <!-- dropdown start -->
                            <ul class="dropdown-menu">
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="listing.html">Ad Listing</a></li>
                                <li><a href="detail.html">Ad Detail</a></li>
                                <li><a href="@Url.Action("Index", "Login")">Login</a></li>
                                <li><a href="@Url.Action("Index", "Register")">Register</a></li>
                                <li><a href="@Url.Action("ForgotPassword", "ForgotPassword")">Forgot Password</a></li>
                                <li><a href="@Url.Action("ChangePassword", "ChangePassword")">Change Password</a></li>
                                <li><a href="dashboard.html">Dashboard</a></li>
                                <li><a href="active-ads.html">Active Ads</a></li>
                                <li><a href="pending-ads.html">Pending Ads</a></li>
                                <li><a href="@Url.Action("EditProfile", "EditProfile")">Edit Profile</a></li>
                                <li><a href="ad-post.html">Ad Post</a></li>
                                <li><a href="packages.html">Packages</a></li>
                                <li><a href="faqs.html">FAQs</a></li>
                            </ul>
                            <!-- dropdown end -->
                        </li>
                        <li class="dropdown">
                            <a href="blog.html">Blog <span class="caret"></span></a>
                            <!-- dropdown start -->
                            <ul class="dropdown-menu">
                                <li><a href="blog.html">Blog List</a></li>
                                <li><a href="blog-detail.html">Blog Detail</a></li>
                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                <li><a href="blog-full-width.html">Blog Grid Full Width</a></li>
                            </ul>
                            <!-- dropdown end -->
                        </li>
                        <li><a href="contact-us.html">Contact</a></li>
                        <li class="postad"><a href="ad-post.html">Post an Ad</a></li>
                    </ul>
                    <!-- Nav collapes end -->
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- Nav end -->
        </div>
    </div>
    <!-- row end -->
</div>