@using System.Web.Optimization

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact us</title>
    <!-- Fav Icon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Owl carousel -->
    @Styles.Render("~/bundles/owlcarousel/css")
    <!--  @Styles.Render("~/bundles/owlcarouseltheme/css") -->
    <!-- Bootstrap -->
    @Styles.Render("~/bundles/bootstrap/css")

    <!-- Font Awesome -->
    @Styles.Render("~/bundles/fontawesome/css")

    <!-- Custom Style -->
    @Styles.Render("~/bundles/main/css")
</head>
<body>
    <div class="topbar-wrap">
        @Html.Partial("_TopbarWrap")
    </div>
    <div class="header">
        @Html.Partial("_Header")
    </div>

    <div class="section">
        @RenderBody()
    </div>

    <div id="footer">
        @Html.Partial("_Footer")
    </div>

    <!-- Owl carousel -->
    @Scripts.Render("~/bundles/owlcarousel/js")

    <!-- Bootstrap's JavaScript -->
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/jquery/js")

    <!-- Custom js -->
    @Scripts.Render("~/bundles/main/js")
</body>
</html>
