@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listing";
}

@model System.Collections.Generic.List<AutoCar.Domain.Entities.Post.PostMinimal>

<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1 class="page-heading">Listing</h1>
            </div>
        </div>
    </div>
</div>
<!-- Page Title End -->

<div class="listpgWraper">
    <div class="container">

        <!-- Sortby start -->
        <div class="sortbybar">
            <div class="row">
                <div class="col-sm-4"> <a href="listing.html" data-toggle="tooltip" data-placement="top" title="" class="listby" data-original-title="Result by List View"><i class="fa fa-th-list" aria-hidden="true"></i></a> <a href="grid.html" data-toggle="tooltip" data-placement="top" title="" class="listby" data-original-title="Result by Gallery View"><i class="fa fa-th-large" aria-hidden="true"></i></a> </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">Sort By</span>
                        <select class="form-control">
                            <option>Most recent</option>
                            <option>Price: Rs Low to High</option>
                            <option>Price: Rs High to Low</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="found"> 235 results for Mathematic Tutors <strong> Profile showing 1 to 10 out of 711 </strong> </div>
                </div>
            </div>
        </div>
        <!-- Search Result and sidebar start -->
        <div class="row">
            <div class="col-md-3 col-sm-5">
                @Html.Partial("_Sidebar")
            </div>
            <div class="col-md-9 col-sm-7">
                <!-- Search List -->
                <ul class="searchList">
                    <!-- ad start -->
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <li>
                                <div class="row">
                                    <div class="col-md-3 col-sm-4">
                                        <div class="ribbon_3 popular"><span>Featured</span></div>
                                        @if (item.ImagePath != null)
                                        {
                                            <div class="adimg"><img src="@Url.Content(item.ImagePath)" alt="Ad Name" /></div>
                                        }
                                        else
                                        {
                                            <div class="adimg"><img src="~/Content/images/NoImage.jpg" alt="Ad Name" /></div>
                                        }
                                    </div>
                                    <div class="col-md-9 col-sm-8">
                                        <div class="jobinfo">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-7">
                                                    <h3><a href="@Url.Action("Detail", "Post", new {PostId = item.Id})">@item.Make @item.Model </a></h3>
                                                    <div class="location"><i class="fa fa-calendar" aria-hidden="true"></i> <span>@item.Year</span></div>
                                                    <div class="location"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>@item.Millage km</span></div>
                                                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>@item.Location</span></div>
                                                    <div class="clearfix"></div>
                                                    <div class="vinfo"><span>@item.Fuel</span></div>
                                                    <div class="vinfo"><span>@item.EngineCapacity cc</span></div>
                                                    <div class="vinfo"><span>@item.Transmission</span></div>
                                                    <div class="clearfix"></div>
                                                    <div class="date">Date Added: @item.DateAdded.ToString("dd.MM.yyyy")</div>
                                                </div>
                                                <div class="col-md-4 col-sm-5 text-right">
                                                    <div class="adprice">$@item.Price</div>
                                                    <div class="listbtn"><a href="@Url.Action("Detail", "Post", new {PostId = item.Id})">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    <!-- ad end -->
                </ul>

                <!-- Pagination Start -->
                <div class="pagiWrap">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="showreslt">Showing 1-10</div>
                        </div>
                        <div class="col-md-8 col-sm-8 text-right">
                            <ul class="pagination">
                                <li class="active"><a href="#.">1</a></li>
                                <li><a href="#.">2</a></li>
                                <li><a href="#.">3</a></li>
                                <li><a href="#.">4</a></li>
                                <li><a href="#.">5</a></li>
                                <li><a href="#.">6</a></li>
                                <li><a href="#.">7</a></li>
                                <li><a href="#.">8</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Pagination end -->
            </div>
        </div>
    </div>
</div>
