@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ListingSearch";
}


@model System.Collections.Generic.List<AutoCar.Domain.Entities.Post.PostMinimal>

<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1 class="page-heading">Listing</h1>
            </div>
        </div>
    </div>
</div>
<!-- Page Title End -->

<div class="listpgWraper">
    <div class="container">

        <!-- Sortby start -->
        <div class="sortbybar">
            <div class="row">
                <div class="col-sm-4"> <a href="listing.html" data-toggle="tooltip" data-placement="top" title="" class="listby" data-original-title="Result by List View"><i class="fa fa-th-list" aria-hidden="true"></i></a> <a href="grid.html" data-toggle="tooltip" data-placement="top" title="" class="listby" data-original-title="Result by Gallery View"><i class="fa fa-th-large" aria-hidden="true"></i></a> </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">Sort By</span>
                        <select class="form-control">
                            <option>Most recent</option>
                            <option>Price: Rs Low to High</option>
                            <option>Price: Rs High to Low</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!-- Search Result and sidebar start -->
        <div class="row">
            <div class="col-md-3 col-sm-5">
                <!-- Side Bar start -->
                <div class="sidebar">
                    <!-- By Keyword -->
                    <div class="widget">
                        <h4 class="widget-title">Search By Keyword</h4>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Keyword">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>

                    <!-- Price -->
                    <div class="widget">
                        <h4 class="widget-title">Price Range</h4>
                        <ul class="optionlist">
                            <li>
                                <input type="checkbox" name="checkname" id="price1" />
                                <label for="price1"></label>
                                0 to $100 <span>12</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="price2" />
                                <label for="price2"></label>
                                $100 to $199 <span>41</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="price3" />
                                <label for="price3"></label>
                                $199 to $499 <span>33</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="price4" />
                                <label for="price4"></label>
                                $499 to $999 <span>66</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="price5" />
                                <label for="price5"></label>
                                $999 to $4999 <span>159</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="price6" />
                                <label for="price6"></label>
                                Above $4999 <span>865</span>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-control">
                                    <option>From</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control">
                                    <option>To</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Price end -->
                    <!-- Cars By City -->
                    <div class="widget">
                        <h4 class="widget-title">City</h4>
                        <ul class="optionlist">
                            <li>
                                <input type="checkbox" name="checkname" id="newyork" />
                                <label for="newyork"></label>
                                New York <span>12</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="losangles" />
                                <label for="losangles"></label>
                                Los Angeles <span>33</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="chicago" />
                                <label for="chicago"></label>
                                Chicago <span>33</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="houston" />
                                <label for="houston"></label>
                                Houston <span>12</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="sandiego" />
                                <label for="sandiego"></label>
                                San Diego <span>555</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="sanjose" />
                                <label for="sanjose"></label>
                                San Jose <span>44</span>
                            </li>
                        </ul>
                        <a href="#.">More Cities</a>
                    </div>
                    <!-- Cars By City end-->
                    <!-- Cars By City -->
                    <div class="widget">
                        <h4 class="widget-title">Register City</h4>
                        <ul class="optionlist">
                            <li>
                                <input type="checkbox" name="checkname" id="newyork" />
                                <label for="newyork"></label>
                                New York <span>12</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="losangles" />
                                <label for="losangles"></label>
                                Los Angeles <span>33</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="chicago" />
                                <label for="chicago"></label>
                                Chicago <span>33</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="houston" />
                                <label for="houston"></label>
                                Houston <span>12</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="sandiego" />
                                <label for="sandiego"></label>
                                San Diego <span>555</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="sanjose" />
                                <label for="sanjose"></label>
                                San Jose <span>44</span>
                            </li>
                        </ul>
                        <a href="#.">More Cities</a>
                    </div>
                    <!-- Cars By City end-->
                    <!-- Year -->
                    <div class="widget">
                        <h4 class="widget-title">Year Range</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-control">
                                    <option>From</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control">
                                    <option>To</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Year end -->
                    <!-- type -->
                    <div class="widget">
                        <h4 class="widget-title">Type</h4>
                        <select class="form-control">
                            <option>New</option>
                            <option>Used Car</option>
                        </select>
                    </div>
                    <!-- type end -->
                    <!-- Make -->
                    <div class="widget">
                        <h4 class="widget-title">Make</h4>
                        <select class="form-control">
                            <option>BMW</option>
                            <option>Honda</option>
                            <option>Toyota</option>
                            <option>Suzuki</option>
                        </select>
                    </div>
                    <!-- Make end -->
                    <!-- Model -->
                    <div class="widget">
                        <h4 class="widget-title">Model</h4>
                        <select class="form-control">
                            <option>Select Model</option>
                            <option>JIMNY DX MT</option>
                            <option>SUZUKI CIAZ GL AT</option>
                            <option>SWIFT AT</option>
                        </select>
                    </div>
                    <!-- Model end -->
                    <!-- Transmission -->
                    <div class="widget">
                        <h4 class="widget-title">Transmission</h4>
                        <ul class="optionlist">
                            <li>
                                <input type="checkbox" name="checkname" id="auto" />
                                <label for="auto"></label>
                                Auto <span>12</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="Manual" />
                                <label for="Manual"></label>
                                Manual <span>33</span>
                            </li>
                        </ul>
                    </div>

                    <!-- Engine -->
                    <div class="widget">
                        <h4 class="widget-title">Engine Type</h4>
                        <ul class="optionlist">
                            <li>
                                <input type="checkbox" name="checkname" id="Petrol" />
                                <label for="Petrol"></label>
                                Petrol <span>12</span>
                            </li>
                            <li>
                                <input type="checkbox" name="checkname" id="Diesel" />
                                <label for="Diesel"></label>
                                Diesel <span>33</span>
                            </li>
                        </ul>
                    </div>

                    <!-- button -->
                    <div class="searchnt">
                        <button class="btn"><i class="fa fa-search" aria-hidden="true"></i> Update Results</button>
                    </div>
                    <!-- button end-->
                </div>
                <!-- Side Bar end -->
            </div>
            <div class="col-md-9 col-sm-7">
                <!-- Search List -->
                <ul class="searchList">
                    <!-- ad start -->
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <li>
                                <div class="row">
                                    <div class="col-md-3 col-sm-4">
                                        <div class="ribbon_3 popular"><span>Featured</span></div>
                                        <div class="adimg"><img src="@Url.Content(item.ImagePath)" alt="Ad Name" /></div>
                                    </div>
                                    <div class="col-md-9 col-sm-8">
                                        <div class="jobinfo">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-7">
                                                    <h3><a href="#.">@item.Make @item.Model </a></h3>
                                                    <div class="location"><i class="fa fa-calendar" aria-hidden="true"></i> <span>@item.Year</span></div>
                                                    <div class="location"><i class="fa fa-tachometer" aria-hidden="true"></i> <span>@item.Millage km</span></div>
                                                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>@item.Location</span></div>
                                                    <div class="clearfix"></div>
                                                    <div class="vinfo"><span>@item.Fuel</span></div>
                                                    <div class="vinfo"><span>@item.EngineCapacity cc</span></div>
                                                    <div class="vinfo"><span>@item.Transmission</span></div>
                                                    <div class="clearfix"></div>
                                                    <div class="date">Date Added: @item.DateAdded.ToString("dd.MM.yyyy")</div>
                                                </div>
                                                <div class="col-md-4 col-sm-5 text-right">
                                                    <div class="adprice">$@item.Price</div>
                                                    <div class="listbtn"><a href="@Url.Action("Detail", "Detail", new {PostId = item.Id})">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    <!-- ad end -->
                </ul>

                <!-- Pagination Start -->
                <div class="pagiWrap">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="showreslt">Showing 1-10</div>
                        </div>
                        <div class="col-md-8 col-sm-8 text-right">
                            <ul class="pagination">
                                <li class="active"><a href="#.">1</a></li>
                                <li><a href="#.">2</a></li>
                                <li><a href="#.">3</a></li>
                                <li><a href="#.">4</a></li>
                                <li><a href="#.">5</a></li>
                                <li><a href="#.">6</a></li>
                                <li><a href="#.">7</a></li>
                                <li><a href="#.">8</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Pagination end -->
            </div>
        </div>
    </div>
</div>
