@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AddPost";
    @model AutoCar.Web.Models.PostData
}



<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1 class="page-heading">Post A Car</h1>
            </div>
        </div>
    </div>
</div>
<!-- Page Title End -->

@using (Html.BeginForm("AddPost", "AddPost", FormMethod.Post))
{
    <div class="listpgWraper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="userccount">
                        <div class="formpanel">
                            <!-- Ad Information -->
                            <h5>Car Information</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="formrow">
                                        @Html.TextBoxFor(a => a.Model, new { @class = "form-control", placeholder = "Model" })
                                        @Html.ValidationMessageFor(a => a.Model)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="formrow">
                                        @Html.TextBoxFor(a => a.Make, new { @class = "form-control", placeholder = "Make" })
                                        @Html.ValidationMessageFor(a => a.Make)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formrow">
                                        <select class="form-control" name="Type">
                                            <option value="Not specified">Car type</option>
                                            <option value="New">New</option>
                                            <option value="Used">Used</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formrow">
                                        @Html.TextBoxFor(a => a.Year, new { @class = "form-control", placeholder = "Year" })
                                        @Html.ValidationMessageFor(a => a.Year)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formrow">
                                        <select class="form-control" name="Transmission">
                                            <option value="Not specified">Transmission</option>
                                            <option value="Automatic">Automatic</option>
                                            <option value="Manual">Manual</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formrow">
                                        <select class="form-control" name="Color">
                                            <option value="Not specified">Color</option>
                                            <option value="White">White</option>
                                            <option value="Black">Black</option>
                                            <option value="Red">Red</option>
                                            <option value="Blue">Blue</option>
                                            <option value="Silver">Sliver</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="formrow">
                                        @Html.TextBoxFor(a => a.EngineCapacity, new { @class = "form-control", placeholder = "Engine Capacity" })
                                        @Html.ValidationMessageFor(a => a.EngineCapacity)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formrow">
                                        @Html.TextBoxFor(a => a.Millage, new { @class = "form-control", placeholder = "Millage" })
                                        @Html.ValidationMessageFor(a => a.EngineCapacity)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formrow">
                                        <select class="form-control" name="Fuel">
                                            <option value="Not specified">Fuel</option>
                                            <option value="Gasoline">Gasoline</option>
                                            <option value="Diesel">Diesel</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="formrow">
                                        <ul class="row featchoose">
                                            <li class="col-md-4"><input type="checkbox" value="true" name="ABS"> ABS</li>
                                            <li class="col-md-4"><input type="checkbox" value="true" name="AirBags"> Air Bags</li>
                                            <li class="col-md-4"><input type="checkbox" value="true" name="AC"> Air Conditioning</li>
                                            <li class="col-md-4"><input type="checkbox" value="true" name="CruiseControl"> Cruise Control</li>
                                            <li class="col-md-4"><input type="checkbox" value="true" name="KeylessEntry"> Keyless Entry</li>
                                            <li class="col-md-4"><input type="checkbox" value="true" name="PowerWindows"> Power Windows</li>
                                        </ul>
                                    </div>
                                </div>



                                <div class="col-md-12">
                                    <div class="formrow">
                                        <div class="uploadphotobx">
                                            <i class="fa fa-upload" aria-hidden="true"></i>
                                            <h4>Upload your car's photo</h4>
                                            <p>It must be a head-shot photo</p>
                                            <label class="uploadBox">
                                                Click here to Upload
                                                <input type="file" name="upload">
                                            </label>
                                        </div>
                                        <div class="fileattached">
                                            <img src="images/ads/01.jpg" alt=""> <span>file-name-here.jpg</span> <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="fileattached">
                                            <img src="images/ads/02.jpg" alt=""> <span>file-name-here.jpg</span> <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="formrow">
                                        @Html.TextBoxFor(a => a.Price, new { @class = "form-control", placeholder = "Price" })
                                        @Html.ValidationMessageFor(a => a.Price)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="formrow">
                                        @Html.TextBoxFor(a => a.Location, new { @class = "form-control", placeholder = "Location" })
                                        @Html.ValidationMessageFor(a => a.Location)
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="formrow">
                                        <textarea class="form-control" name="Comment" placeholder="Seller Comments"></textarea>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <input type="submit" class="btn" value="Post">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
