@{
     Layout = "~/Views/Shared/_Layout.cshtml";
     ViewBag.Title = "EditProfile";
}

@model AutoCar.Web.Models.EditProfileData

<!-- Page Title start -->
<div class="pageTitle">
     <div class="container">
          <div class="row">
               <div class="col-md-6 col-sm-6">
                    <h1 class="page-heading">Edit Profile</h1>
               </div>
          </div>
     </div>
</div>
<!-- Page Title End -->

<div class="listpgWraper">
     <div class="container">
          <div class="row">
               <div class="col-md-8 col-md-offset-2">
                    <div class="userccount">
                         @using (Html.BeginForm("EditProfile", "EditProfile", FormMethod.Post))
                         {
                              <div class="formpanel">
                                   <!-- Personal Information -->
                                   <h5>Personal Information</h5>
                                   <div class="row">
                                        <div class="col-md-6">
                                             <div class="formrow">
                                                  @Html.TextBoxFor(a => a.UserName, new { @class = "form-control", placeholder = "Username" })
                                                  @Html.ValidationMessageFor(a => a.UserName)
                                             </div>
                                        </div>
                                        <div class="col-md-6">
                                             <div class="formrow">
                                                  @Html.TextBoxFor(a => a.FullName, new { @class = "form-control", placeholder = "Full Name" })
                                                  @Html.ValidationMessageFor(a => a.FullName)
                                             </div>
                                        </div>
                                        <div class="col-md-6">
                                             <div class="formrow">
                                                  @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "form-control", placeholder = "Phone" })
                                                  @Html.ValidationMessageFor(a => a.PhoneNumber)
                                             </div>
                                        </div>
                                        <div class="col-md-6">
                                             <div class="formrow">
                                                  @Html.TextBoxFor(a => a.Email, new { @class = "form-control", placeholder = "Email" })
                                                  @Html.ValidationMessageFor(a => a.Email)
                                             </div>
                                        </div>
                                        @if (!ViewData.ModelState.IsValid)
                                        {
                                             <div class="alert alert-danger">
                                                  <ul>
                                                       @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                                       {
                                                            <li>@error.ErrorMessage</li>
                                                       }
                                                  </ul>
                                             </div>
                                        }
                                   </div>
                                   <hr>
                              </div>
                              <br>
                              <input type="submit" class="btn" value="Update and Save">
                         }
                    </div>
               </div>
          </div>
     </div>
</div>
