@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

@model AutoCar.Web.Models.SearchWrapData

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="searchwrap">
        <div class="container">
            <h3>Find Used Cars In Moldova</h3>
            <p>Search from over 99,00,000 Active ads &amp; Post free unlimited classifieds ads!</p>
            <div class="searchbar">
                <div class="row">
                    <div class="col-md-6">
                        @Html.TextBoxFor(a => a.MakeOrModel, new { @class = "form-control", placeholder = "Car Make or Model" })
                        @Html.ValidationMessageFor(a => a.MakeOrModel)
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" name="PriceRange">
                            <option value="">Any Price</option>
                            <option value="500-999">$500 - $999</option>
                            <option value="1000-1999">$1000 - $1999</option>
                            <option value="2000-2499">$2000 - $2499</option>
                            <option value="2500-2999">$2500 - $2999</option>
                            <option value="3000-3499">$3000 - $3499</option>
                            <option value="3500-3999">$3500 - $3999</option>
                            <option value="4000-@Int32.MaxValue">About $4000</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" name="Location">
                            <option value="">Any City</option>
                            <option value="Chisinau">Chișinău</option>
                            <option value="Balti">Bălți</option>
                            <option value="Soroca">Soroca</option>
                            <option value="Orhei">Orhei</option>
                            <option value="Cahul">Cahul</option>
                            <option value="Comrat">Comrat</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="btn" value="Search">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Featured Cars start -->
<div class="section">
    <div class="container">
        <!-- title start -->
        <div class="titleTop">
            <h3>Featured <span>Used</span> Cars</h3>
        </div>
        <!-- title end -->

        <ul class="gridlist itemgrid owl-carousel owl-theme owl-loaded owl-responsive-768">
            @foreach (var post in ViewBag.LatestRecords)
            {
                <li class="item">
                    <div class="innerad">
                        <h3><a href="@Url.Action("Detail", "Detail", new {PostId = post.Id})">@post.Make @post.Model @post.Year</a></h3>
                        <div class="price">$@post.Price</div>
                        <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> @post.Location</div>
                    </div>
                    <div class="adimg">
                        <div class="ribbon_3 popular"><span>Featured</span></div>
                        <a href="@Url.Action("Detail", "Detail", new {PostId = post.Id})"><img src="@Url.Content(post.ImagePath ?? "Content/images/NoImage.jpg")" alt=""></a>
                    </div>
                    <div class="innerad"> <a href="@Url.Action("Detail", "Detail", new {PostId = post.Id})" class="readmore">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> </div>
                </li>
            }
            <!--
            <li class="item">
                <div class="innerad">
                    <h3><a href="detail.html">Ford Mustang 2017</a></h3>
                    <div class="price">20 900€</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Chișinau</div>
                </div>
                <div class="adimg">
                    <div class="ribbon_3 popular"><span>Featured</span></div>
                    <a href="detail.html"><img src="~/Content/images/cars/fordMustang.jpg" alt=""></a>
                </div>
                <div class="innerad"> <a href="detail.html" class="readmore">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> </div>
            </li>
            <li class="item">
                <div class="innerad">
                    <h3><a href="detail.html">Mercedes E Class 2018</a></h3>
                    <div class="price">31 900€</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Bălți</div>
                </div>
                <div class="adimg">
                    <div class="ribbon_3 popular"><span>Featured</span></div>
                    <a href="detail.html"><img src="~/Content/images/cars/MercedesEClass.jpg" alt=""></a>
                </div>
                <div class="innerad"> <a href="detail.html" class="readmore">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> </div>
            </li>
            <li class="item">
                <div class="innerad">
                    <h3><a href="detail.html">Volkswagen Golf 2018</a></h3>
                    <div class="price">21 300€</div>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> Criuleni</div>
                </div>
                <div class="adimg">
                    <div class="ribbon_3 popular"><span>Featured</span></div>
                    <a href="detail.html"><img src="~/Content/images/cars/VWGolf.jpg" alt=""></a>
                </div>
                <div class="innerad"> <a href="detail.html" class="readmore">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a> </div>
            </li>
            -->
        </ul>
    </div>
</div>
}
<!-- Featured Cars end -->
<!-- About start -->
<div class="about-wrap">
    <div class="col-md-6">
        <div class="about-image"></div>
    </div>
    <div class="col-md-6">
        <div class="aboutinfo">
            <div class="title">
                <span>Moldova's Leading Used Cars</span>
                <h1><span>Welcome to</span> Auto Car</h1>
            </div>
            <p>AutoCar is a website that specializes in helping people buy and sell new, used and certified used vehicles. The site is an excellent resource if you’re looking to sell your car or to buy one with many tips that can help you navigate the process.</p>

            <!--
            <ul>
            <li>Nam rutrum tortor eget lorem mattis mattis.</li>
            <li>Duis fermentum sem nec lorem sodales egestas.</li>
            <li>Duis mattis diam et ante tempor, quis tristique quam sagittis.</li>
            <li>Cras blandit ante ac hendrerit sodales.</li>
            <li>Duis non massa id nisl imperdiet iaculis.</li>
            </ul>
            -->
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- About end -->
<!-- Cars By Make start -->
<div class="section whitebg">
    <div class="container">
        <!-- title start -->
        <div class="titleTop">
            <h3>Search Cars By <span>Make</span></h3>
        </div>
        <!-- title end -->
        <div class="topsearchwrap">
            <ul class="row makelist">
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Make = "Audi"})"><img src="~/Content/images/CarsLogo/audi-512x512-202945.png" alt="" /> <strong>Audi</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Make = "Mercedes"})"><img src="~/Content/images/CarsLogo/mercedes-512x512-202855.png" alt="" /> <strong>Mercedes-Benz</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Make = "BMW"})"><img src="~/Content/images/CarsLogo/bmw-512x512-202750.png" alt="" /> <strong>BMW</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Make = "Porsche"})"><img src="~/Content/images/CarsLogo/porsche-512x512-202887.png" alt="" /> <strong>Porsche</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Make = "Volkswagen"})"><img src="~/Content/images/CarsLogo/volkswagen-512x512-202925.png" alt="" /> <strong>Volkswagen</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Make = "Toyota"})"><img src="~/Content/images/CarsLogo/toyota-512x512-202914.png" alt="" /> <strong>Toyota</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Make = "Subaru"})"><img src="~/Content/images/CarsLogo/subaru-512x512-202908.png" alt="" /> <strong>Subaru</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Make = "Mini"})"><img src="~/Content/images/CarsLogo/mini-512x512-202737.png" alt="" /> <strong>Mini</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Make = "Ford"})"><img src="~/Content/images/CarsLogo/ford-512x512-202767.png" alt="" /> <strong>Ford</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Make = "Chevrolet"})"><img src="~/Content/images/CarsLogo/chevrolet-512x512-202745.png" alt="" /> <strong>Chevrolet</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Make = "Alfa"})"><img src="~/Content/images/CarsLogo/alfa-512x512-202944.png" alt="" /> <strong>Alfa Romeo</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Make = "Volvo"})"><img src="~/Content/images/CarsLogo/volvo-512x512-202923.png" alt="" /> <strong>Volvo</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Make = "Mitsubishi"})"><img src="~/Content/images/CarsLogo/mitsubishi-512x512-202852.png" alt="" /> <strong>Mitsubishi</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Make = "Nissan"})"><img src="~/Content/images/CarsLogo/nissan-512x512-202859.png" alt="" /> <strong>Nissan</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Make = "Land Rover"})"><img src="~/Content/images/CarsLogo/land-512x512-202834.png" alt="" /> <strong>Land Rover</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Make = "Skoda"})"><img src="~/Content/images/CarsLogo/skoda-512x512-202902.png" alt="" /> <strong>Skoda</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Make = "Tesla"})"><img src="~/Content/images/CarsLogo/tesla-512x512-202912.png" alt="" /> <strong>Tesla</strong></a></li>
                <li class="col-md-2 col-sm-3 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Make = "Honda"})"><img src="~/Content/images/CarsLogo/honda-512x512-202798.png" alt="" /> <strong>Honda</strong></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Cars By Make ends -->
<!-- Cars By Cities start -->
<div class="section whitebg">
    <div class="container">
        <!-- title start -->
        <div class="titleTop">
            <h3>Used Cars By <span>Cities</span></h3>
        </div>
        <!-- title end -->
        <div class="topsearchwrap">
            <ul class="row catelist">
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Chisinau"})">Chișinău</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Orhei"})">Orhei</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Balti"})">Bălți</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Cahul"})">Cahul</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Anenii Noi"})">Anenii Noi</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Criuleini"})">Criuleni</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Cantemir"})">Cantemir</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Comrat"})">Comrat</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Hancesti"})">Hâncești</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Nisporeni"})">Nisporeni</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Glodeni"})">Glodeni</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Straseni"})">Strășeni</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Soldanesti"})">Șoldănești</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Basarabeasca"})">Basarabeasca</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Stefan"})">Ștefan-Vodă</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Vulcanesti"})">Vulcănești</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Taraclia"})">Taraclia</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Bender"})">Bender</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Soroca"})">Soroca</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Sangerei"})">Sângerei</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Drochia"})">Drochia</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Edinet"})">Edineț</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Telenesti"})">Telenești</a></li>
                <li class="col-md-3 col-sm-6 col-xs-6"><a href="@Url.Action("ListingSearch", "Listing", new {Location = "Cimislia"})">Cimișlia</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Cars By Cities ends -->
<!-- started start -->
<div class="taglinewrap">
    <div class="container">
        <h2>Get Started Today</h2>
        <p>AutoCar-The easiest way to sell your car or to buy one</p>
        <a href="@Url.Action("Listing", "Listing")">Do You Want To Buy a Car?</a> <a href="@Url.Action("AddPost", "Post")" class="buy">Do You Want To Sell a Car?</a>
    </div>
</div>
<!-- started end -->
<!-- How it Works start -->
<div class="section whitebg howitwrap">
    <div class="container">
        <ul class="howlist row">
            <!--step 1-->
            <li class="col-md-4 col-sm-4">
                <div class="iconcircle"><img src="~/Content/images/avatar.png" alt="" /></div>
                <h4>Create a Free Account</h4>

            </li>
            <!--step 1 end-->
            <!--step 2-->
            <li class="col-md-4 col-sm-4">
                <div class="iconcircle"><img src="~/Content/images/car.png" alt="" /></div>
                <h4>Post your Free Car</h4>

            </li>
            <!--step 2 end-->
            <!--step 3-->
            <li class="col-md-4 col-sm-4">
                <div class="iconcircle"><img src="~/Content/images/sell-icon.png" alt="" /></div>
                <h4>Sold or Buy</h4>

            </li>
            <!--step 3 end-->
        </ul>
    </div>
</div>
<!-- How it Works Ends -->
