@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "EditPost";
    @model AutoCar.Web.Models.PostData
}

<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1 class="page-heading">Edit the Post</h1>
            </div>
        </div>
    </div>
</div>
<!-- Page Title End -->

@using (Html.BeginForm("EditPost", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="listpgWraper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="userccount">
                        <div class="formpanel">
                            <!-- Ad Information -->
                            <h5>Update car's Information</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="formrow">
                                        @Html.LabelFor(a => a.Model)
                                        @Html.TextBoxFor(a => Model.Model, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Model)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="formrow">
                                        @Html.LabelFor(a => a.Make)
                                        @Html.TextBoxFor(a => Model.Make, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Make)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formrow">
                                        <label for="Type">Car Type</label>
                                        <select class="form-control" name="Type">
                                            <option value="Not specified" @(Model.Type == "Not specified" ? "selected" : "")>Car type</option>
                                            <option value="New" @(Model.Type == "New" ? "selected" : "")>New</option>
                                            <option value="Used" @(Model.Type == "Used" ? "selected" : "")>Used</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formrow">
                                        @Html.LabelFor(a => a.Year)
                                        @Html.TextBoxFor(a => Model.Year, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Year)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formrow">
                                        <label for="Transmission">Transmission</label>
                                        <select class="form-control" name="Transmission">
                                            <option value="Not specified" @(Model.Transmission == "Not specified" ? "selected" : "")>Transmission</option>
                                            <option value="Automatic" @(Model.Transmission == "Automatic" ? "selected" : "")>Automatic</option>
                                            <option value="Manual" @(Model.Transmission == "Manual" ? "selected" : "")>Manual</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formrow">
                                        <label for="Color">Color</label>
                                        <select class="form-control" name="Color">
                                            <option value="Not specified" @(Model.Color == "Not specified" ? "selected" : "")>Color</option>
                                            <option value="White" @(Model.Color == "White" ? "selected" : "")>White</option>
                                            <option value="Black" @(Model.Color == "Black" ? "selected" : "")>Black</option>
                                            <option value="Red" @(Model.Color == "Red" ? "selected" : "")>Red</option>
                                            <option value="Blue" @(Model.Color == "Blue" ? "selected" : "")>Blue</option>
                                            <option value="Silver" @(Model.Color == "Silver" ? "selected" : "")>Silver</option>
                                            <option value="Other" @(Model.Color == "Other" ? "selected" : "")>Other</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="formrow">
                                        <label for="EngineCapacity">Engine Capacity (cc)</label>
                                        @Html.TextBoxFor(a => Model.EngineCapacity, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.EngineCapacity)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formrow">
                                        @Html.LabelFor(a => a.Millage)
                                        @Html.TextBoxFor(a => Model.Millage, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Millage)
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="formrow">
                                        <label for="Fuel">Fuel</label>
                                        <select class="form-control" name="Fuel">
                                            <option value="Not specified" @(Model.Fuel == "Not specified" ? "selected" : "")>Fuel</option>
                                            <option value="Gasoline" @(Model.Fuel == "Gasoline" ? "selected" : "")>Gasoline</option>
                                            <option value="Diesel" @(Model.Fuel == "Diesel" ? "selected" : "")>Diesel</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="formrow">
                                        <ul class="row featchoose">
                                            <li class="col-md-4"><input type="checkbox" value="true" name="ABS" @(Model.ABS ? "checked" : "")> ABS</li>
                                            <li class="col-md-4"><input type="checkbox" value="true" name="AirBags" @(Model.AirBags ? "checked" : "")> Air Bags</li>
                                            <li class="col-md-4"><input type="checkbox" value="true" name="AC" @(Model.AC ? "checked" : "")> Air Conditioning</li>
                                            <li class="col-md-4"><input type="checkbox" value="true" name="CruiseControl" @(Model.CruiseControl ? "checked" : "")> Cruise Control</li>
                                            <li class="col-md-4"><input type="checkbox" value="true" name="KeylessEntry" @(Model.KeylessEntry ? "checked" : "")> Keyless Entry</li>
                                            <li class="col-md-4"><input type="checkbox" value="true" name="PowerWindows" @(Model.PowerWindows ? "checked" : "")> Power Windows</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <div style="text-align: center;" class="formrow">
                                        <h4>Update your car's photo</h4>
                                        <p>It must be a head-shot photo</p>
                                        <label class="uploadBox">
                                            <input type="file" name="Image" id="Image">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-6">
                                    <div class="formrow">
                                        <label for="Price">Price $</label>
                                        @Html.TextBoxFor(a => Model.Price, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Price)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="formrow">
                                        @Html.LabelFor(a => a.Location)
                                        @Html.TextBoxFor(a => Model.Location, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Location)
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="formrow">
                                        <textarea class="form-control" name="Comment" placeholder="Seller Comments"></textarea>
                                    </div>
                                </div>
                            </div>
                            <br>
                            @Html.HiddenFor(a => a.Id)
                            @Html.HiddenFor(a => a.Author)
                            @Html.HiddenFor(a => a.AuthorPhoneNumber)
                            <input type="submit" class="btn" value="Update">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}