@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.Title = "Dashboard";
}
@model AutoCar.Domain.Entities.User.UChangePasswordData
@if (Model == null)
{
    var model = new AutoCar.Domain.Entities.User.UChangePasswordData();
}
<!-- Page Title start -->
<div class="pageTitle">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1 class="page-heading">Dashboard</h1>
            </div>
        </div>
    </div>
</div>
<!-- Page Title End -->

<div class="inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <ul class="usernavdash">
                    <li><a href="@Url.Action("Dashboard", "Dashboard")"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
                    <li><a href="@Url.Action("EditProfile", "Dashboard", new {userId = Model.Id})"><i class="fa fa-user" aria-hidden="true"></i> Edit Profile</a></li>
                    <li><a href="@Url.Action("ActivePosts", "Dashboard", new {userId = Model.Id})"><i class="fa fa-laptop" aria-hidden="true"></i> Active Ads</a></li>
                    <li class="active"><a href="@Url.Action("ChangePassword", "Dashboard", new {userId = Model.Id})"><i class="fa fa-lock" aria-hidden="true"></i> Password Settings</a></li>
                    <li><a href="@Url.Action("UserLogout", "Dashboard")"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                </ul>
            </div>
            <div class="col-md-9 col-sm-8">
                <div class="userccount">
                    <h5>Change Password</h5>
                    <!-- form -->
                    @using (Html.BeginForm("ChangePassword", "Dashboard", Model, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="formpanel">
                            <div class="formrow">
                                @Html.PasswordFor(a => a.OldPassword, new { @class = "form-control", placeholder = "Old Password" })
                            </div>
                            <div class="formrow">
                                @Html.PasswordFor(a => a.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                            </div>
                            <div class="formrow">
                                @Html.PasswordFor(a => a.ConfirmedPassword, new { @class = "form-control", placeholder = "Confirm New Password" })
                            </div>
                            <input type="submit" class="btn" value="Update">
                        </div>
                        @Html.HiddenFor(a => a.Id)
                    }
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <ul>
                                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                {
                                    <li>@error.ErrorMessage</li>
                                }
                            </ul>
                        </div>
                    }
                    @if (ViewBag.ConfirmationMessage != null)
                    {
                        <div>
                            <div class="alert alert-success"> @ViewBag.ConfirmationMessage</div>
                        </div>
                    }
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div>
                            <div class="alert alert-danger"> @ViewBag.ErrorMessage</div>
                        </div>
                    }
                    <!-- form  end-->
                </div>
            </div>
        </div>
    </div>
</div>